.dialog-header-title {
    color: white;
}

.dialog-body {
    display: flex;
    flex-direction: column;
}

.dialog-body-input {
    padding: 5px;
}

.dialog-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}