<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <include file=".\NLog.Config" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value=".\Logs/${shortdate}"/>
  
  <targets>
    <target name="logInfo" xsi:type="File" fileName="${logDirectory}\LogInfo.txt" />
    <target name="logDegug" xsi:type="File" fileName="${logDirectory}\LogDebug.txt" />
    <target name="logError" xsi:type="File" fileName="${logDirectory}\LogError.txt" />
    <target name="logWarn" xsi:type="File" fileName="${logDirectory}\LogWarn.txt" />
    <target name="logTrace" xsi:type="File" fileName="${logDirectory}\LogTrace.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logInfo" />
    <logger name="*" minlevel="Debug" writeTo="logDegug" />
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Warning" writeTo="logWarn" />
    <logger name="*" minlevel="Trace" writeTo="logTrace" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>